# If we are a computer with nix available, then use that to setup
# the build environment with exactly what we need.
if has nix; then
    use flake --impure
fi

# Load .env
dotenv_if_exists

# Create a Python environment
layout python

# Add well known WSL CUDA library
export LD_LIBRARY_PATH="/usr/lib/wsl/lib${LD_LIBRARY_PATH:+:}$LD_LIBRARY_PATH"

# Add well known 64bits OpenGL library
export LD_LIBRARY_PATH="/run/opengl-drivers/lib${LD_LIBRARY_PATH:+:}$LD_LIBRARY_PATH"

# Add well known 32bits OpenGL  library
export LD_LIBRARY_PATH="/run/opengl-drivers-32/lib${LD_LIBRARY_PATH:+:}$LD_LIBRARY_PATH"

# Set default project if not set
export VERTEX_AI_PROJECT=${VERTEX_AI_PROJECT:-shikanime-studio}

# Set default location if not set
export VERTEX_AI_LOCATION=${VERTEX_AI_LOCATION:-us-central1}

# Set default dataset if not set
export DEEP_LAKE_DATASET_URI=${DEEP_LAKE_DATASET_URI:-gcs://shikanime-studio-sfeir-hivemind-deep-lake-datasets/books/}

# Set Skaffold default repository
export SKAFFOLD_DEFAULT_REPO=${SKAFFOLD_DEFAULT_REPO:-europe-west1-docker.pkg.dev/${VERTEX_AI_PROJECT}/sfeir-hivemind}
